name: CI

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
      - run: composer validate --no-check-publish
      - run: composer install --prefer-dist --no-progress
      - run: find app -name "*.php" -print0 | xargs -0 -n1 php -l
      - run: php -l public/index.php
